body{
  margin:0;
  background: #fff;
}

.header{
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding: 92  50 96;
}

.header__logo{
display: flex;
justify-content: center;
width: 148px;
height: 105px;
top: 92px;
}

.header__links-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 13px;
}



